@model GuitarBazar.Models.Guitar

@{
    ViewBag.Title = "Details";
}

<div style="display:grid; grid-template-columns: 260px 150px">
    <h1 style="font-weight:bold"> @Model.Maker</h1>
    <div style="padding-top:30px;display:grid; grid-template-columns: 50px 50px 50px">
        @Helper.GlyphiconAction("Edit/" + Model.Id, "glyphicon-edit", "Modifier " + Model.Model)
        @Helper.GlyphiconConfirmAction("Delete/" + Model.Id.ToString(), "glyphicon-remove-circle", "Effacer " + Model.Model + "...")
        @Helper.GlyphiconAction("Index", "glyphicon-circle-arrow-left", "Retour à la liste")
    </div>
</div>
<h3 style="font-weight:bold">
    @Model.Model,  @Html.DisplayFor(model => model.Year), @Html.DisplayFor(model => model.Condition.Name)
</h3>

<h1 style="font-weight:bold">
    @Html.DisplayFor(model => model.Price)
    @if (Model.Sold)
    {
        <span style="color:red"> - Vendu</span>
    }
</h1>

<h2><a href="/Sellers/Details/@Model.Seller.Id">@Model.Seller.Name</a></h2>
<h3>@Helper.When(Model.AddDate)</h3>
<hr />

<a href="@Model.ImageURL" target="_blank">
    @Helper.GuitarImage("guitarImage", "detailsGuitarImage", Model.ImageURL, false, !Model.RotateImage)
</a>
<div style="width:100%;text-align:justify; font-size:18px">
    @Html.DisplayFor(model => model.Description)
</div>

