

@{
    ViewBag.Title = "Index";
}

<h2>Guitares à vendre @Helper.GlyphiconAction("Create", "glyphicon-plus", "Ajouter une guitare à vendre")</h2>
<hr />
<div class="guitarFilterContainer">
    <div style="display:grid; grid-template-columns: 70px 180px ">
        <div style="font-size:14px; margin-top:6px">Guitares</div>
        @Helper.SelectList("SoldFilterSelectList", (SelectList)Session["SoldFilterList"], (int)Session["SoldFilterChoice"])
    </div>
    <div style="display:grid; grid-template-columns: 70px 180px">
        <div style="font-size:14px; margin-top:6px">Vendeurs</div>
        @Helper.SelectList("SellerFilterSelectList", (SelectList)HttpRuntime.Cache["SellerFilterList"], (int)Session["SellerFilterChoice"])
    </div>
</div>
<hr />

<div id="thumbnailListContainer" class='thumbnailListContainer'>
    @{ Html.RenderAction("GetGuitares", new { forceRefresh = true }); }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/partialRefresh")
    <script defer>
         installPartialRefresh("@Url.Action("GetGuitares")", "thumbnailListContainer", 3 /*secondes*/, null);

         $("#SoldFilterSelectList").change(() => {
             window.location = "@Url.Action("SetSoldFilterChoice")" + "/" + $("#SoldFilterSelectList").val();
         })

        $("#SellerFilterSelectList").change(() => {
            window.location = "@Url.Action("SetSellerFilterChoice")" + "/" + $("#SellerFilterSelectList").val();
         })
    </script>
}
