@model IEnumerable<GuitarBazar.Models.Seller>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des vendeurs</h2>
<br />
<div class="SellersContainerHead">
    <div>@Html.DisplayNameFor(model => model.Name)</div>
    <div>@Html.DisplayNameFor(model => model.Phone)</div>
    <div>@Helper.GlyphiconAction("Create", "glyphicon-plus", "Ajout de vendeur")</div>
</div>

@foreach (var item in Model)
{
    <div class="SellerContainer">
        <div class="ellipsis">
            <a href="mailto:@item.Email">
                @Html.DisplayFor(modelItem => item.Name)
            </a>
        </div>
        <div class="ellipsis">
            @Html.DisplayFor(modelItem => item.Phone)
        </div>
        <div>
            @Helper.GlyphiconAction("Edit/" + item.Id.ToString(), "glyphicon-edit", "Modifier " + item.Name + "...")
        </div>
        <div>
            @Helper.GlyphiconAction("Details/" + item.Id.ToString(), "glyphicon-eye-open", "Détails sur " + item.Name + "...")
        </div>
        <div>
            @Helper.GlyphiconConfirmAction("Delete/" + item.Id.ToString(), "glyphicon-remove-circle", "Effacer " + item.Name + "...")
        </div>
    </div>
}


<script>
    setInterval(function () { location.reload(); }, 600000);
</script>
